.tc{
  text-align: center;
}

.presale input{
  color: #ffffff;
  border-radius: 20px 20px;
  background-color: #372F47;
  vertical-align: middle;
  margin-right: 1rem;
}

.presale .big_input{
  background-color: #012848;
  padding: 1rem 1rem;
  border-radius: 10px 10px;
}

.presale .big_input .left,.presale .big_input .right{
  display: inline-block;
  width: 50%;
  margin-bottom: 1rem;
}

.presale .big_input .left{
  text-align: left;
}
.presale .big_input .right{
  text-align: right;
}


.presale .logo{
  margin-top: 6rem;
  width: 38rem;
}

.presale .input button, .presale .btn_group button{
  border-radius: 1rem 1rem;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 1.2rem;
  border: none;
  width: 8rem;
  background-color: rgb(255, 177, 26);
  margin-right: 1rem;
  font-size: 1.8rem;
  vertical-align: middle;
}

.presale .btn_group{
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.presale .btn_group button{
  width: 10rem;
}

.presale .btn_group button:last-child{
  margin-left: 2rem;
}

h1{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card{
  width: 100%;
  text-align: center;
}

.deposited_usdc button{
  border-radius: 5px 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 1.5rem;
  border: none;
  font-size: var(--font-sm);
  width: 100%;
  background-color: rgb(255, 177, 26);
}

.coininfo{
  font-size: 6rem;
  padding: 2rem 0;
}

.button_group{
  text-align: center;
  width: 100%;
}

.button_group .left,.button_group .right{
  width: 48%;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 2rem;
  border-radius: 10px 10px;
}

.button_group .left{
  margin-right: 2rem;
}

.information{
  text-align: left;
  padding-left: 2.5rem;
}

.information h1{
  margin-bottom: 1rem;
}

.button_group button{
  margin-top: 2rem;
}

.presale .deposited_usdc button,.presale .deposited_usdc button:hover, .presale .btn_group button, .presale .btn_group button:hover{
  background: #FFB11A;
}

@media (max-width: 900px) {
  .presale .logo{
    width: 30rem;
    margin-top: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1{
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .coininfo{
    font-size: 4rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 2rem;
  }

  .ido_process{
    padding: 2rem 0;
    font-weight: bold;
  }

  .claim,.deposited_usdc{
    text-align: center;
    padding: 2rem 2rem;
  }
  .claim button,.deposited_usdc button{
    margin-top: 2rem;
  }

  .information{
    padding: 0 1rem;
  }

  .information h1{
    padding-bottom: 0.1rem;
  }

  .presale input{
    width: 15rem;
  }
  .presale .Modal{
    top: -10%;
  }
  .button_group .left, .button_group .right{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
