.main_body{
  padding-left: 10rem;
}

.main_body h1{
  margin-bottom: 1rem;
}

.main_body h4{
  margin-top: 5rem;
  text-align: center;
}
.pre_cardinfo{
  width: 80%;
}

.pre_cardinfo h4{
  margin-bottom: 2rem;
}

.cardinfo{
  background-color: #080E12;
  border-radius: 10px 10px;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

.card_item{
  width: 30%;
  display: inline-block;
  margin-right: 4rem;
  margin-bottom: 4rem;
}

.card_header{
  border-radius: 10px 10px 0 0;
  padding: 1.5rem 2rem;
}

.card_item .default{
  background-color: #13232F;
}

.card_item .active{
  color: #ffffff;
  background-image: linear-gradient(to bottom, #4E32C7, #413CD2);
}

.card_header .left{
  font-weight: bold;
  font-size: 3rem;
  width: 40%;
  vertical-align: middle;
}
.card_header .right{
  width: 60%;
  text-align: right;
  vertical-align: middle;
}
.card_header .line, .card_header .disline{
  height: 2rem;
  border-radius: 10px 10px;
  text-align: right;
  display: flex;
}

.card_header .line{
  padding-left: 1rem;
  background-color: #00F0FF;
}

.card_header .disline{
  margin-top: 1rem;
  width: 100%;
  background-color: #f2f2;
}

.inblock{
  display: inline-block;
}

.tr{
  text-align: right;
}

.info_list{
  padding: 1rem 2rem 3rem 2rem;
  background-image: linear-gradient(to bottom, #0C171F, #080E12);
  border-radius: 0 0 10px 10px;
}

.card_item .lactive{
  color: #ffffff;
  background-image: linear-gradient(to bottom, #3E3FD4, #1E56EE);
}

.info_list .left,.info_list .right{
  display: inline-block;
  margin-top: 2rem;
}
.info_list .right{
  width: 70%;
  text-align: right;
}
.info_list .left{
  width: 30%;
  text-align: left;
}
.your_cardinfo{
  background-color: #080E12;
  width: 50%;
  border-radius: 10px 10px;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}
.list_item .item{
  margin-top: 2rem;
  border-bottom: 1px solid #1F2B33;
  padding-bottom: 2rem;
}
.your .left{
  font-weight: bold;
  width: 40%;
  vertical-align: middle;
}
.your .right{
  width: 60%;
  text-align: right;
  vertical-align: middle;
}
.contribution .table{
  width: 100%;
}
.contribution .table div{
  display: flex;
}

@media (max-width: 900px) {
  .main_body{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .pre_cardinfo, .your_cardinfo,.card_item{
    width: 100%;
  }

  .cardinfo {
    padding: 1rem 1rem;
  }
}
