.rekt_main{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  background: linear-gradient(270deg, rgb(156, 81, 255) 0%, rgb(85, 161, 255) 50%, rgb(156, 81, 255) 100%);
  border-radius: 10px 10px;
  padding: 0.4rem 0.4rem;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 23rem;
}

.rekt_btn button{
  margin-left: 2rem;
  border: none;
  font-size: 2rem;
  padding: 2rem 6rem;
  border-radius: 10px 10px;
  color: #ffffff;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.rekt_btn button:first-child{
  background-image: linear-gradient(to right, #6451da, #7e2a8e);
}

.rekt_btn button:first-child:hover{
  background-image: linear-gradient(to right, #8461da, #9e2a8e);
}

.fYSqLR{
  background-image: linear-gradient(to right,  #6451da, #7e2a8e);
  margin-bottom: 2rem;
}

.fYSqLR:hover{
  background-image: linear-gradient(to right, #8461da, #9e2a8e);
}

.ORQPg{
  background-image: linear-gradient(to right, #e9be56, #d73d00);
  margin-bottom: 2rem;
}

.ORQPg:hover{
  background-image: linear-gradient(to right, #00be56, #f93d00);
}

.rekt_text p{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 2rem;
  margin-right: 1rem;
}

.rekt_block{
  background: #16182e;
  padding-top: 2rem;
  border-radius: 1rem 1rem;
  padding-bottom: 3rem;
}

.rekt_block h1{
  font-size: 4rem;
  margin-top: 0;
  padding-top: 0;
  background: linear-gradient(to right, #6451da, #7e2a8e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.airdrop_date{
  background-image: linear-gradient(to right, #4b9ee9, #7d5de5);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem 0.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px 0 #ffffff;
}

.airdrop_date .item{
  display: inline-block;
  text-align: center;
  margin-left: 4rem;
}

.airdrop_date .item span{
  font-size: 4rem;
}

.airdrop_date .item div{
  font-size: 1rem;
}

.proccess{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.proccess_item{
  background: #1e2740;
  height: 1.4rem;
  border-radius: 1rem 1rem;
}

.proccess_text div{
  margin-top: 4rem;
  width: 50%;
  display: inline-block;
  font-size: 2rem;
  color: #cccccc;
  margin-bottom: 1rem;
}

.proccess_text div:first-child{
  text-align: left;
}

.proccess_text div:last-child{
  text-align: right;
}

.proccess_iteming{
  background-image: linear-gradient(to right, #9b52ff, #32d5f9);
  height: 1.4rem;
  border-radius: 1rem 1rem;
  margin-bottom: 3rem;
}

.rekt_btn .tobuy{
  background-image: linear-gradient(to right, #9b52ff, #32d5f9);
}

.rekt_btn .tobuy:hover{
  background-image: linear-gradient(to right, #1b52ff, #82d5f9);
}

@media screen and (max-width: 1920px) {
  .rekt_btn button {
    padding: 2rem 4rem;
    margin-bottom: 2rem;
  }
  .rekt_main {
    margin-top: 5%;
    width: 60%;
  }

  .rekt_block{
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1899px) {
  .rekt_main {
    margin-top: 4%;
  }

  .rekt_btn button {
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 900px) {
  .rekt_main{
    width: 96%;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .proccess{
    width: 94%;
  }

  .rekt_main {
    width: 96%;
    font-size:2rem;
    margin-bottom: 23rem;
  }

  .rekt_block h1 {
    font-size: 3rem;
  }

  .airdrop_date{
    width: 94%;
  }

  .airdrop_date .item{
    margin-left: 2rem;
  }

  .rekt_btn button{
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    margin-bottom: auto;
    margin-top: 2rem;
  }

  .rekt_btn{
    padding-bottom: 4rem;
  }
}
